<article class="listing">
    <img src="{{spy.image}}" alt="">
  <h3>{{spy.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{spy.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{spy.city}}
  </div>
</article>
{{yield}}